body {
    font-family: Arial, sans-serif;
    background-color: #dfcdc3;
    margin: 0;
    padding: 0;
}

.headerTitle {
    background-color: #3c4245;
    color: #fff;
    padding: 10px;
    text-align: left;
    font-size: 24px;
}

.containerA{
    display: flex;
}
.containerB{
    display: flex;
}
.containerE{
    display: flex;
}
.containerC{
    display: flex;
}
.containerD{
    display: flex;
}


.c1, .c2, .c3, .c4 , .c5{
    background-color: #5f6769;
    margin: 5px;
    margin-left: 40px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.859);
    width: 250px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;

}


.p1, .p2, .p3, .p4, .p5{
    background-color: #5f6769;
    color: #fff;
    text-align: center;
    margin: 5px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.859);
    width: 150px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1);
    animation: glowing 1.5s infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 10px rgba(63, 63, 63, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1);
    }
    50% {
        box-shadow: 0 0 20px rgba(29, 24, 24, 0.5), 0 0 40px rgba(0, 0, 0, 0.3), 0 0 60px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0 0 10px rgba(85, 62, 62, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1);
    }
}

.c1 p, .c2 p, .c3 p, .c4 p, .c5 p{
    font-size: 28px;
    margin: 0;
    padding: 0;
    text-align: right;
    color: #fff;
    align-items: end;
}

.c1 h1, .c2 h1, .c3 h1, .c4 h1, .c5 h1{
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-align: center;
    color: #fff;
}

.image-container {
    position: fixed;
    display: flex;
    top: 120px;
    right: 65px;

}

.image-container img{
    height: auto;
    width: auto;
    border: 5px solid #060606;
    border-radius: 4px;
   
}

.clockDiv p{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 1000px;
    margin-top: -48px;
    width: 150px;
    height: 150px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fffefe;
}

.userInfo img{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: -45px;
    margin-top: -5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.userInfo .dropdown{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 1170px;
    margin-top: -50px;
    width: 150px;
    height: 30px;
    font-weight: bolder;
}

.dropbtn {
    background-color: #3c4245;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #7d8387fc;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #76a57c;
  }

.buttonNav .buttonC{
    width: 150px;
    height: 30px;
    margin-top: -55px;
    margin-left: 1135px;
    height: 47px;
    background: rgba(81, 177, 52, 0.77);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.buttonNav .buttonC:hover{
    background-color: #196e1dbb;
}
